writing/CogSci2021/figs/

writing/supplement/laac_supplement_files

writing/supplement/saves/srm.rds
analysis/analysis.Rmd
visuals/*

videos/bonobo_pilot/*
models and documentation Jana/*

data/ppi_data_phase1.csv

*.docx

*.log
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
writing/supplement/saves/srm.rds
writing/supplement/saves/cvs_cau.rds
writing/supplement/saves/cvs_inf.rds
writing/supplement/saves/cvs_quant.rds
writing/supplement/saves/cvs_gaze.rds
writing/supplement/saves/cvs_cau.rds
writing/supplement/saves/cvs_inf.rds
writing/supplement/saves/cvs_quant.rds
writing/supplement/saves/cvs_gaze.rds
writing/supplement/saves/srm_1.rds
writing/supplement/saves/srm_2.rds
writing/supplement/saves/cvs_cau_p2.rds
writing/supplement/saves/cvs_inf_p2.rds
writing/supplement/saves/cvs_grat_p2.rds
writing/supplement/saves/cvs_quant_p2.rds
writing/supplement/saves/cvs_gaze_p2.rds
./.git/objects/pack/pack-4a899452eb2a5db987b12ec022e71a323d1b01e5.pack
./writing/supplement/saves/cvs_cau.rds
./writing/supplement/saves/cvs_inf.rds
./writing/supplement/saves/cvs_quant.rds
./writing/supplement/saves/cvs_gaze.rds
./writing/supplement/saves/srm_1.rds
./writing/supplement/saves/srm_2.rds
./writing/supplement/saves/cvs_cau_p2.rds
./writing/supplement/saves/cvs_inf_p2.rds
./writing/supplement/saves/cvs_grat_p2.rds
./writing/supplement/saves/cvs_quant_p2.rds
./writing/supplement/saves/cvs_gaze_p2.rds
writing/supplement/projpred212/cvs_cau_p1.rds
writing/supplement/projpred212/cvs_cau_p2.rds
writing/supplement/projpred212/cvs_grat_p2.rds
writing/supplement/projpred212/cvs_inf_p1.rds
writing/supplement/projpred212/cvs_inf_p2.rds
writing/supplement/projpred212/cvs_quant_p1.rds
writing/supplement/projpred212/cvs_quant_p2.rds
writing/supplement/projpred212/cvs_gaze_p1.rds
writing/supplement/projpred212/cvs_gaze_p2.rds
